.numeros-grid {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.numeros-grid h3 {
  font-size: "Playfair Display SC";
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: rgb(2, 2, 2);
  font-weight: 100;
  text-transform: uppercase;
}
.numeros-grid span {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 1.4rem;
  color: #e54;
}
